@using Volo.Abp.Ui.Branding
@using Washyn.SbTheme.Themes.Sb.Components.PublicNavBar.PublicMenu
@using Washyn.SbTheme.Themes.Sb.Components.Toolbar.LanguageSwitch
@inject IBrandingProvider BrandingProvider
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">@BrandingProvider.AppName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                @await Component.InvokeAsync(typeof(PublicMenuViewComponent))
                @* TODO: as improvement add submenu renderer *@
                @* <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li> *@
                @* <li class="nav-item"><a class="nav-link" href="#">Link</a></li> *@
                @* <li class="nav-item dropdown"> *@
                @*     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a> *@
                @*     <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> *@
                @*         <li><a class="dropdown-item" href="#">Action</a></li> *@
                @*         <li><a class="dropdown-item" href="#">Another action</a></li> *@
                @*     </ul> *@
                @* </li> *@
                @await Component.InvokeAsync(typeof(LanguageSwitchViewComponent))
                <li class="nav-item"><a class="nav-link" href="/Account/Login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>