<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>A Bootstrap 5 Starter Template</h1>
        <p class="lead">A complete project boilerplate built with Bootstrap</p>
        <p>Bootstrap v5.1.3</p>
    </div>
</div>

<abp-card>
    <abp-card-header>
        <abp-card-title>
            Titulo
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        This page is an example of using the light side navigation option. By appending the .sb-sidenav-light class to the .sb-sidenav class, the side navigation will take on a light color scheme. The .sb-sidenav-dark is also available for a darker option.
    </abp-card-body>
</abp-card>
<p>This page is an example of using the light side navigation option.</p>
<h1 class="mt-4">Sidenav Light</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Sidenav Light</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        This page is an example of using the light side navigation option. By appending the
        <code>.sb-sidenav-light</code>
        class to the
        <code>.sb-sidenav</code>
        class, the side navigation will take on a light color scheme. The
        <code>.sb-sidenav-dark</code>
        is also available for a darker option.
    </div>
</div>

