@using Volo.Abp.SettingManagement
@using Washyn.SbTheme.Pages.Components.BoxedLayoutSetting
@using Washyn.SbTheme.Themes.Sb.Components.Brand
@using Washyn.SbTheme.Themes.Sb.Components.Toolbar
@inject ISettingManager SettingManager
@{
    var darkBar = Convert.ToBoolean(await SettingManager.GetOrNullForCurrentUserAsync(SbAdminThemeSettingNames.Layout.DarkNavigationBar));
    var classBar = darkBar ? "dark" : "light";
}

<nav class="sb-topnav navbar navbar-expand navbar-@classBar bg-@classBar shadow-sm">
    <!-- Navbar Brand-->
    @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
    <!-- Sidebar Toggle-->
    <button class="btn order-1 order-lg-0 me-2 me-lg-0" id="sidebarToggle" type="button"><i class="fas fa-bars"></i></button>
    <div class="d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
    </div>
    <ul class="navbar-nav ms-auto ms-md-0 me-2 me-lg-4">
        @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
    </ul>
</nav>